 <!DOCTYPE html>
<html>
<head>
  <title>Whatcanido</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="main-container" class="container-fluid">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">What Can I Do to Help?</a>
        </div>
      </div>
    </nav>
    <div class="row">
      <%#<div class="col-xs-3">%>
      <%#</div>%>
      <div id="main-content" class="col-xs-9">
        <div class="jumbotron">
          <h1>What Can I Do?</h1>
          <p>When bad things are happening, we often ask this question, not really sure what we can do beyond Facebook posts and retweets. Everyone has their own day-to-day struggles to deal with, and it can seem impossible to actually do something that matters. Many hardworking, talented writers publish things that give you some resources and ways to help, but it can be hard to keep track of all that, or even see it if you don't happen to be looking at the right website at the right time, so I made this site to try to amerliorate that problem by aggregating as much of the great, actionable information out there as I can.
          </p>
        </div>
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
