 <!DOCTYPE html>
<html>
<head>
  <title>Whatcanido</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="main-container" class="container-fluid">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Is there something I can do right now?</a>
        </div>
      </div>
    </nav>
    <div class="row">
      <%#<div class="col-xs-3">%>
      <%#</div>%>
      <div id="main-content" class="col-xs-9">
        <div class="jumbotron">
          <h1>What can I do to help?</h1>
          <p>When bad things are happening, we often ask this question, not really sure what we can do beyond Facebook posts and retweets. 
          Everyone has their own things to deal with, and it can seem impossible to actually do something that matters if you can't even find out what you can do. 
          Many hardworking, talented writers publish things that give you some resources and ways to help, but it can be hard to keep track of all that, 
          or even see it if you don't happen to be looking at the right website at the right time. Hopefully, by aggregating those things here, this site can help.
          </p>
        </div>
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
