 <!DOCTYPE html>
<html>
<head>
  <title>Is there something I can do right now?</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="main-container" class="container-fluid">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Is there something I can do right now?</a>
        </div>
        <div class="collapse navbar-collapse">
          <p class="navbar-text navbar-right">
            Contact: <a href="https://twitter.com/scottcreynolds" class="navbar-link" target="_blank">@scottcreynolds</a>
          </p>
        </div>
      </div>
    </nav>
    <div class="row">
      <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Donate</h4>
          </div>
          <div class="panel-body">
            <div class="list-group">
              <a class="list-group-item" target="_blank" href="https://action.aclu.org/donate-aclu?ms=web_horiz_nav_hp">ACLU</a>
              <a class="list-group-item" target="_blank" href="https://secure2.convio.net/adl/site/SPageNavigator/donation-api/donation_form_single_main_1.html?s_src=TopNavSplitButton&s_subsrc=MainLeftButton-Onetime&_ga=1.165472183.900306211.1478718507">Anti-Defamation League</a>
              <a class="list-group-item" href="http://www.borderangels.org/our-causes/" target="_blank">Border Angels</a>
              <a class="list-group-item" href="http://greatfutures.org/pages/waystogive.aspx?_ga=1.12737010.43999393.1478702949" target="_blank">Boys & Girls Clubs of America</a>
              <a class="list-group-item" href="https://secure3.convio.net/cfrr/site/Donation2;jsessionid=97A4C7A9488B5DDF3450546DE1123DB2.app347a?1380.donation=form1&df_id=1380&web&_ga=1.145398384.513337705.1476995534" target="_blank">Center for Reproductive Rights</a>
              <a class="list-group-item" href="https://co.clickandpledge.com/sp/d1/default.aspx?wid=118896" target="_blank">CHIRLA</a>
              <a class="list-group-item" href="https://www.cair.com/donations/general-donation/campaign/#/donation" target="_blank">CAIR</a>
              <a class="list-group-item" href="https://secure.earthjustice.org/site/Donation2?df_id=10960&10960.donation=form1&_ga=1.146521844.1974926048.1478708236" target="_blank">EarthJustice</a>
              <a class="list-group-item" href="https://give.hrc.org/ea-action/action?ea.client.id=1954&ea.campaign.id=51848&_ga=1.109084165.1475167696.1478722857" target="_blank">Human Rights Campaign</a>
              <a class="list-group-item" href="https://donate.naacp.org/page/contribute/make-a-contribution" target="_blank">NAACP</a>
              <a class="list-group-item" href="http://ncadv.org/give-back/donate" target="_blank">NCADV</a>
              <a class="list-group-item" href="https://salsa.wiredforchange.com/o/5996/p/salsa/donation/common/public/?donate_page_KEY=11005" target="_blank">NOW</a>
              <a class="list-group-item" href="https://secure.ppaction.org/site/Donation2?df_id=12913&12913.donation=form1&_ga=1.38484843.997121566.1477408976" target="_blank">Planned Parenthood</a>
              <a class="list-group-item" href="https://donate.rainn.org/" target="_blank">RAINN</a>
              <a class="list-group-item" href="https://vault.sierraclub.org/ways-to-give/" target="_blank">Sierra Club</a>
              <a class="list-group-item" href="http://www.translifeline.org/" target="_blank">Trans Lifeline</a>
              <a class="list-group-item" href="http://www.thetrevorproject.org/" target="_blank">Trevor Project</a>
            </div>
          </div>
        </div>
      </div>
      <div id="main-content" class="col-xs-9">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class=panel-title">What can I do to help?</h2>
          </div>
          <div class="panel-body">
            <p>When bad things are happening, we often ask this question, not really sure what we can do beyond Facebook posts and retweets. 
            Everyone has their own things to deal with, and it can seem impossible to actually do something that matters if you can't even find out what you can do. 
            Many hardworking, talented writers publish things that give you some resources and ways to help, but it can be hard to keep track of all that, 
            or even see it if you don't happen to be looking at the right website at the right time. Hopefully, by aggregating those things here, this site can help.
            </p>
          </div>
        </div>
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
